/* navbar css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1D414D;
  padding: 0 45px 0 45px;
}

.navbar > .logo {
  font-weight: 700;
  font-size: 21px;
  margin: 15px;
  color: white;
}

.logo {
  max-width: 120%;
  max-height: 120%;
}
