@font-face {
  src: url(../fonts/Raleway/Raleway-Black.ttf);
  font-family: Raleway;
}

@font-face {
  src: url(../fonts/Raleway/Raleway-Regular.ttf);
  font-family: Raleway-regular;
}

.roadmap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #efe19d;
  height: 75rem;
}

.roadmap-description {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  width: 90%;
  background-color: #fdfdfe;
  border-radius: 40px;
  padding: 2rem;
  height: 20rem;
}

.roadmap-description-header {
  font-family: "Raleway", sans-serif;
  color: rgb(44, 44, 44);
  font-size: 3rem;
}

.lurry-container {
  display: flex;
  justify-content: space-around;
  width: 90%;
  background-color: black;
  border-radius: 40px;
  padding: 2rem;
  height: 40rem;
}

.roadmap-description-steps {
  font-family: "Raleway-regular", sans-serif;
  color: rgb(44, 44, 44);
}

.bold {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  margin-right: 4px;
}

.description-steps {
  display: flex;
  align-items: center;
}

.lurry-png {
  object-fit: contain;
  width: 20%;
}

.roadmap-description-info {
  margin-left: 10rem;
}

.carousel-arrow {
  cursor: pointer;
  background: black;
  border: none;
  object-fit: contain;
}

.slide-right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -2100px;
  -webkit-animation: slide 0.2s forwards;
  animation: slide 0.2s forwards;
}

.slide-left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 2100px;
  -webkit-animation: slide 0.2s forwards;
  animation: slide 0.2s forwards;
}

.slide-right-out {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0;
  -webkit-animation: slide-right-out 0.2s forwards;
  animation: slide-right-out 0.2s forwards;
}

.slide-left-out {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0;
  -webkit-animation: slide-left-out 0.2s forwards;
  animation: slide-left-out 0.2s forwards;
}

.contain-slide {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.mirrored {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

@-webkit-keyframes slide-right-out {
  100% {
    left: 2100px;
  }
}

@keyframes slide-right-out {
  100% {
    left: 2100px;
  }
}

@-webkit-keyframes slide-left-out {
  100% {
    left: -2100px;
  }
}

@keyframes slide-left-out {
  100% {
    left: -2100px;
  }
}
