.depth {
  height: 50rem;
  /* background-color: rgb(140, 240, 254);
  background-image: url('https://gateway.pinata.cloud/ipfs/QmfMNdcT83fZFQqjsquZKP2LNYNDEZyx3PzQZWo1Ye4CZ3?preview=1');
  background-size: contain;
  background-repeat: repeat-x; */
}
