.depth {
  height: 20rem;
  background-image: url('https://gateway.pinata.cloud/ipfs/QmfMNdcT83fZFQqjsquZKP2LNYNDEZyx3PzQZWo1Ye4CZ3?preview=1');
  background-attachment: scroll;
  background-size: 70%;
  background-repeat:round;
}
