body {
  background-color: #1F4451;

}


.welcome-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15vw;
}

.Lurry-and-Info {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  position:relative ;
  height: 80%;
  width: 80%;
  z-index: -1;

}


.mint-button-container {
  position: relative;
  z-index: 1;
  right: 22vw;
  top: 1rem;
}

.mint-button {
  width: 15vw;
  height: 6vh;
  background: #F4D12D;
  border: none;
  border-radius: 20rem;
  
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 2.3vw;
  text-align: center;
  
  color: #000000;
  
  float: right;
  box-shadow: 0rem 0.4rem black;
  cursor: pointer;
  
  }

    .mint-button:hover {background-color: #e8c529}

          .mint-button:active {
              background-color: #debc26;
                box-shadow: 0 0.1rem #666;
                  transform: translateY(0.2rem);
          }

.connect-wallet-container {
  position: relative;
  z-index: 1;
  right: 22vw;
  top: 1rem;

}

.connect-wallet-button {
width: 15vw;
height: 6vh;
background: #F4D12D;
border: none;
border-radius: 20rem;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 1.37vw;
text-align: center;

color: #000000;

float: right;
box-shadow: 0rem 0.4rem black;
cursor: pointer;

}

        .connect-wallet-button:hover {background-color: #e8c529}

                  .connect-wallet-button:active {
                    background-color: #debc26;
                      box-shadow: 0 0.1rem #666;
                        transform: translateY(0.2rem);
                  }


.mint-count {
  font-family: 'Callie Chalk Font', sans-serif;

}