.MintPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  /* background: rgb(140, 240, 254); */
}

.welcome-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15vw;
}

.Lurry-and-Info {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 80%;
  width: 80%;
  z-index: 0;
}

.mint-button-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 22vw;
  top: 1rem;
}

.mint-button-container {
  z-index: 1;
}

.mint-button {
  width: 15vmin;
  height: 2vmin;
  background: #f4d12d;
  border: none;
  border-radius: 20rem;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 10vmin;
  text-align: center;

  color: #000000;

  float: right;
  box-shadow: 0rem 0.4rem black;
  cursor: pointer;
}

.mint-button:hover {
  background-color: #e8c529;
}

.mint-button:active {
  background-color: #debc26;
  box-shadow: 0 0.1rem #666;
  transform: translateY(0.2rem);
}

.no-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 30vmin;
  top: 1rem;
}

.no-container {
  z-index: 1;
}

.no-button {
  width: 22vmin;
  height: 5.5vmin;
  background: grey;
  border: none;
  border-radius: 20rem;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 2.3vmin;
  text-align: center;

  color: rgb(91, 91, 91);

  float: right;
  cursor: default;
}

.connect-wallet-container {
  position: relative;
  z-index: 1;
  right: 22vw;
  top: 1rem;
}

.connect-wallet-button {
  width: clamp(1rem, 12vw, 25rem);
  height: 5vmin;
  background: #f4d12d;
  border: none;
  border-radius: 20rem;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: clamp(1rem, 1vw, 2rem);
  text-align: center;

  color: #000000;

  float: right;
  box-shadow: 0rem 0.4rem black;
  cursor: pointer;
}

.connect-wallet-button:hover {
  background-color: #e8c529;
}

.connect-wallet-button:active {
  background-color: #debc26;
  box-shadow: 0 0.1rem #666;
  transform: translateY(0.2rem);
}

.mint-count {
  display: flex;
  position: relative;
  justify-content: center;
  font-family: "Callie Chalk Font", sans-serif;
  width: 80%;
  font-size: clamp(0.5rem, 2vw, 2rem);
  bottom: 5rem;
}

.small-buttons {
  display: none;
}

.no-button {
  width: 22vmin;
  height: 6vmin;
  background: grey;
  border: none;
  border-radius: 20rem;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 2.3vmin;
  text-align: center;

  color: #000000;

  float: right;
  cursor: default;
}

@media screen and (max-width: 1200px) {
  .connect-wallet-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0.5rem;
    width: clamp(1rem, 12vw, 8rem);
    font-size: clamp(0.9rem, 0.9vw, 2rem);
    height: 2.4rem;
    border-radius: 20px;
  }
  
  .no-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0.5rem;
    width: clamp(1rem, 12vw, 8rem);
    font-size: clamp(0.9rem, 0.9vw, 2rem);
    height: 2.4rem;
    border-radius: 20px;
    
  }
}

.connect-button-sm {
  display: none;
}

@media screen and (max-width: 650px) {

  .Lurry-and-Info {
    height: 100%;
    width: 100%;
  }

  .small-buttons {
    display: flex;
  }

  .connect-wallet-container {
    display: none;
  }

  .welcome-box {
    padding-left: 0;
  }

  .no-buttonsm {
    display: block;
    width: 11rem;
    height: 4rem;
    background: grey;
    border: none;
    border-radius: 20rem;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;

    color: #000000;

    float: right;
    cursor: default;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .connect-button-sm {
    display: block;
    width: 10rem;
    height: 4rem;
    background: #f4d12d;
    border: none;
    border-radius: 20rem;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;

    color: #000000;

    float: right;
    box-shadow: 0rem 0.4rem black;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .mint-count {
    position: relative;
    bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: -rem; */
  }
}
