/* navbar css */

/* import poppins from google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
a {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: black;
  text-decoration: none;
  cursor: pointer;

}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.navbar {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  background: #aaffec;
  padding: 0 45px 0 45px;
  /* box-shadow: 0 0 8px 0 #173641; */
}

.navbar > .logo {
  margin: 1rem;
  color: black;
}

.logo {
  max-width: 120%;
  max-height: 120%;
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: start;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
  letter-spacing: 1px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #1d414d;
}

.button {
  padding: 9px 25px;
  background-color: #f4d12d;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  box-shadow: 0 3px 2px;
  font-weight: bold;
}

.button:hover {
  background-color: #ffe77b;
}

.phones-only {
  display: none;
  box-shadow: none;
}

.hamburger-icon {
  background-color: transparent;
  border: none;
  color: white;
}

.dropdown {
  background: #0c303d;
}

@media screen and (max-width: 760px) {
  .phones-only {
    display: block;
  }

  .phones-excluded {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row-reverse;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10rem;
    padding-left: 2rem;
    list-style: none;
  }
}
