/* Contains styles for FAQ section of Questions page  */

/* import poppins from google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.faq-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #1F4451;
  height: 75rem;
  height: 922px;
  color: white;
  
}

.faqs-container {
  color: white;
}

.overlay {
  width: 100%;
}