@font-face {
  src: url(../fonts/Raleway/Raleway-Black.ttf);
  font-family: Raleway;
}

@font-face {
  src: url(../fonts/Raleway/Raleway-Regular.ttf);
  font-family: Raleway-regular;
}

.roadmap {
  background-image: url('https://gateway.pinata.cloud/ipfs/QmUYpwgWN5su7AKN7tLhNEqj6cALdZDE57sGQHBF4DEumw?preview=1');
  background-size: contain;
  background-repeat: repeat-y;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #1f4451;
  height: 75rem;
}

.roadmap-description {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  width: 90%;
  background-color: #fdfdfe;
  padding: 2rem;
  height: 20rem;
  border-radius: 20px;
}

.roadmap-description-header {
  font-family: "Raleway", sans-serif;
  color: rgb(44, 44, 44);
  font-size: 3rem;
}

.lurry-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  background-color: black;
  padding: 2rem;
  height: 40rem;
}

.roadmap-description-steps {
  font-family: "Raleway-regular", sans-serif;
  color: rgb(44, 44, 44);
}

.bold {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  margin-right: 4px;
}

.description-steps {
  display: flex;
  align-items: center;
}

.lurry-png {
  object-fit: contain;
  width: 20%;
}

.roadmap-description-info {
  margin-left: 10rem;
}

.carousel-arrow {
  cursor: pointer;
  background: black;
  border: none;
  height: 100%;
}

.slide-right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -2100px;
  -webkit-animation: slide 0.2s forwards;
  animation: slide 0.2s forwards;
}

.slide-left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 2100px;
  -webkit-animation: slide 0.2s forwards;
  animation: slide 0.2s forwards;
}

.slide-right-out {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0;
  -webkit-animation: slide-right-out 0.2s forwards;
  animation: slide-right-out 0.2s forwards;
}

.slide-left-out {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0;
  -webkit-animation: slide-left-out 0.2s forwards;
  animation: slide-left-out 0.2s forwards;
}

.contain-slide {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.arrow {
  width: clamp(2rem, 10vw, 8rem);
}

.mirrored {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.phones-only {
  display: none;
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

@-webkit-keyframes slide-right-out {
  100% {
    left: 2100px;
  }
}

@keyframes slide-right-out {
  100% {
    left: 2100px;
  }
}

@-webkit-keyframes slide-left-out {
  100% {
    left: -2100px;
  }
}

@keyframes slide-left-out {
  100% {
    left: -2100px;
  }
}

@media screen and (max-width: 980px) {
  .roadmap-description {
    display: flex;
    align-items: center;
  }

  .roadmap-description-info {
    margin-left: 0;
  }

  .large-only {
    display: none;
  }

  .lurry-png {
    width: 33%;
  }
}

@media screen and (max-width: 720px) {
  .roadmap {
    height: 60rem;
  }

  .roadmap-description-header {
    font-size: clamp(2rem, 2.5vw, 3rem);
  }

  .description-steps {
    font-size: clamp(0.8rem, 2.5vw, 2rem);
  }

  .bold {
    font-size: clamp(0.8rem, 2.5vw, 2rem);
  }

  .lurry-png {
    width: 50%;
  }

  .medium-large-only {
    display: none;
  }

  .phones-only {
    display: block;
  }

  .lurry-container {
    height: 25rem;
  }

  .carousel-arrow {
    height: 50%;
  }
}

@media screen and (max-width: 500px) {
  .lurry-png {
    width: 100%;
  }

  .small-excluded {
    display: none;
  }
}
