/* Styles for TeamListItem components */
/* import poppins from google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* targets the team headshots */
.card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 30px 0 30px;
}

/* targets the headshots  */

.card-image {
  width:200px;
  height:200px;
 border-radius: 150px;
}


.card-title, .card-description {
  font-family: "Poppins", sans-serif;
  margin: 2rem;
  color: white;
}


.card-title {
  font-size: 20px;
}


.team-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 80px 200px 25px 200px;
}





