/* Styles for TeamListItem components */
/* import poppins from google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card-body {
  border: solid green;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
}



.card-image {
  width:200px;
  height:200px;
 border-radius: 150px;
}

.card-title, .card-description {
  font-family: "Poppins", sans-serif;
  margin: 2rem;
}

.card-title {
  font-size: 20px;
}

.team-cards, .card-body {
}

.team-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 45px 25px 45px;
}



