/* Styles for TeamListItem components */
/* import poppins from google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-image {
  max-height: 50%;
  max-width: 50%;
}

.card-title, .card-description {
  color: white;
  font-family: "Poppins", sans-serif;
}


